<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBV0gEyvwn6L7R5YE1aZ354DnNV4-DsOhs</string>
	<key>GCM_SENDER_ID</key>
	<string>272944206612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iot</string>
	<key>PROJECT_ID</key>
	<string>iotproject-e6bc1</string>
	<key>STORAGE_BUCKET</key>
	<string>iotproject-e6bc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272944206612:ios:f54f40d3a89a9325d16801</string>
</dict>
</plist>